<header>
  <h1>Irfan <b>Sharif</b></h1>
  <p>Computer Engineering Student, '19 <a href="https://uwaterloo.ca">@uwaterloo</a></p>
  <ul>
    <li><a title="Github" class="github" href="http://github.com/irfansharif"><i class="fa fa-github fa-2x"></i></a> </li>
    <li><a title="E-mail" href="mailto:{{ site.author.email }}"><i class="fa fa-envelope fa-2x"></i></a></li>
    <li><a title="Blog" class="blog" href="blog/static/index.html"><i class="fa fa-book fa-2x"></i></a> </li>
    <li><a title="LinkedIn" href="https://www.linkedin.com/in/irfanmahmoudsharif"><i class="fa fa-linkedin fa-2x"></i></a> </li>
    <!-- <li><a title="Messenger" href="https://m.me/irfanmahmoudsharif"><i class="fa fa-facebook fa-2x"></i></a> </li> -->
    <li><a title="Resume" href="irfan-sharif-resume.pdf"><i class="fa fa-file-pdf-o fa-2x"></i></a> </li>
  </ul>
  <!-- <ul> -->
  <!--   <li><a title="Twitter" href="https://twitter.com/irfansharifm"><i class="fa fa-twitter fa-2x"></i></a></li> -->
  <!--   <li><a title="Quora" href="https://www.quora.com/profile/Irfan-Sharif-2"><i class="fa fa-quora fa-2x"></i></a></li> -->
  <!--   <li><a title="Soundcloud" href="https://soundcloud.com/irfan-mahmoud-sharif"><i class="fa fa-soundcloud fa-2x"></i></a></li> -->
  <!--   <li><a title="Instagram" href="https://www.instagram.com/irfanmahmoudsharif/"><i class="fa fa-instagram fa-2x"></i></a></li> -->
  <!--   <li><a title="Medium" href="https://medium.com/@irfansharif"><i class="fa fa-medium fa-2x"></i></a></li> -->
  <!-- </ul> -->
</header>
